@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.004 49.25);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.004 49.25);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.004 49.25);
    --primary: oklch(0.705 0.191 47.604);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.968 0.007 74.756);
    --secondary-foreground: oklch(0.211 0.012 49.25);
    --muted: oklch(0.968 0.007 74.756);
    --muted-foreground: oklch(0.553 0.013 58.071);
    --accent: oklch(0.968 0.007 74.756);
    --accent-foreground: oklch(0.211 0.012 49.25);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.921 0.007 74.756);
    --input: oklch(0.921 0.007 74.756);
    --ring: oklch(0.705 0.191 47.604);
    --radius: 0.5rem;
    --chart-1: oklch(0.705 0.191 47.604);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --background: oklch(0.141 0.004 49.25);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.211 0.012 49.25);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.211 0.012 49.25);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.705 0.191 47.604);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.274 0.012 49.25);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.012 49.25);
    --muted-foreground: oklch(0.705 0.015 60.067);
    --accent: oklch(0.274 0.012 49.25);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.705 0.191 47.604);
    --chart-1: oklch(0.705 0.191 47.604);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
